@mixin content() {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@mixin adjusted_width() {
  width: 60%;
  @include bp(small-screens) {
    width: 85%;
  }
  @include bp(medium-screens) {
    width: 85%;
  }
  @include bp(mobile) {
    width: 100%;
  }
}

@mixin shrink() {
  @include adjusted_width();
  @include content();
}

/* http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32 */
$break-small-screens: 768px;
$break-medium-screens: 992px;
$break-large-screens: 1200px;
@mixin bp($media) {
  @if $media == extra-small-screens or $media == handhelds or $media == mobile {
    @media only screen and (max-width: $break-small-screens ) { @content; }
  }
  @else if $media == small-screens {
    @media only screen and (min-width: $break-small-screens + 1) and (max-width: $break-medium-screens) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-medium-screens + 1) and (max-width: $break-large-screens) { @content; }
  }
  @else if $media == large-screens {
    @media only screen and (min-width: $break-large-screens + 1) { @content; }
  }
}
