@import "variables";
@import "mixins";

footer {
  font-family: 'Exo';
  @include shrink();
  background: #333;
  margin-bottom: 0rem;
  padding: 1rem 0;

  @include bp(mobile) {
    padding-bottom: 3rem;
  }

  span {
    letter-spacing: 0.25rem;
  }
}
