@import "variables";
@import "mixins";

footer {
  font-family: 'Exo';
  @include shrink();
  background: #333;
  margin-bottom: 0rem;
  padding: 1rem 0;

  @include bp(mobile) {
    padding: 1rem 2rem;
    border: solid 3px #222;
    border-radius: 4px;
  }

  span {
    letter-spacing: 0.25rem;
  }
}
