@import "variables";
@import "mixins";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "compass/css3/transition";

#header {
  h1 {
    @include shrink();
    background-image: url('../images/red.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 3px #222;
    border-radius: 4px;
    font-family: Arial;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4px;
    line-height: normal;
    padding: 2rem 1rem;
    text-transform: uppercase;
    @include text-shadow(6px 1px 1px #000);

    > span {
      text-transform: none;
    }

    @include bp(mobile) {
      font-size: 38px;
      border-left: none;
      border-right: none;
      padding-right: 0;
      padding-left: 0;
    }
  }

  nav {
    @include shrink();
    background: #333;
    margin-top: 1px;
    z-index: 2;
    @include bp(mobile) {
      border: solid 3px #222;
      border-radius: 4px;
      padding: 0;
    }
  }

  nav.floating {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid 2px $mseRed;
    margin: 0;

    ul.primary > li:first-child {
      display: inline-block;
    }
    ul.primary > li:nth-child(2) {
      display: none;
    }

    ul.secondary {
      left: 0;
      right: 0;
      bottom: 0;
      top: 3.2rem;
      height: 2.5rem;

      @include bp(mobile) {
        right: 4.5rem;
        left: auto;
        bottom: auto;
        height: auto;
      }
    }

    @include bp(mobile) {
      padding: 0;
    }
  }

  nav.floating.hidden {
    @include transition(opacity 0.2s, transform 0.2s);
    @include opacity(0);
    @include translate3d(0, -50px, 0);
  }

  nav.floating.visible {
    @include transition(opacity 0.2s, transform 0.5s);
    @include opacity(1);
    @include translate3d(0, 0, 0);
  }

  li {
    white-space: nowrap;
    display: inline-block;
  }

  ul.primary {
    position: relative;
  }

  ul.primary > li {
    padding: 3px 0;

    &:first-child {
      display: none;
      position: relative;
      top: 4px;
      a {
        font-size: 28px;
      }
    }
  }

  a {
    display: inline-block;
    padding: 0.5rem;
    width: 10rem;
    color: #fff;
    font-family: 'Exo';
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    @include transition(color 0.3s);

    @include bp(mobile) {
      width: auto;
      font-size: 14px;
      &.active { color: #fff; }
    }

    @include bp(small-screens) {
      width: 8rem;
    }

    &:hover {
      color: $mseFontRed;
      @include bp(mobile) {
        color: #fff;
      }
    }
    &.active { color: $mseFontRed; }
  }

  ul.secondary {
    position: absolute;
    background: #222;
    top: 2.8rem;
    left: 4rem;
    @include transition(opacity 0.2s, transform 0.2s);
    @include opacity(0);
    @include translate3d(0, -10px, 0);
    a {
      width: auto;
      font-size: 12px;
    }
    @include bp(small-screens) {
      left: -3rem;
      a { font-size: 10px; }
    }

    @include bp(mobile) {
      display: none;
    }
  }

  ul.primary > li:hover ul.secondary,
  ul.primary > li a.active + ul.secondary {
    @include transition(opacity 0.2s, transform 0.5s);
    @include opacity(1);
    @include translate3d(0, 0, 0);
  }
}

.wf-ihki-n4-active {
  #header h1, #header ul.primary > li:first-child a {
    font-family: 'ihki';
  }
}
