@import "reset";
@import "variables";
@import "mixins";
@import "header";
@import "content";
@import "footer";

html, body {
  background: #333 url('../images/bg_tile.png') repeat;
  color: $mseFontColor;
  font: normal 16px 'Roboto', sans-serif;
  letter-spacing: 2px;
}

.clearfix {
  clear: both;
}
